<!DOCTYPE html>
<html>
  <head>
    <title>EighthlightHomework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
  <div>
 <%= link_to "clean your string", "/string_cleaners" %></div>
  <div><%= link_to "uniq your list", "/unique_lists" %></div>
  </ul>
    <%= yield %>
  </body>
</html>
